<script>function lw(){
        var cn=document.getElementById("incname").value;
        var ci=document.getElementbyid("incimage").value;

        const xttp=new XMLHttpRequest();
        xttp.onload=function() {
                document.getElementById("crun").innerHTML= this.responseText;
        }
        xhttp.open("GET",   "http://3.110.207.102:3000/run?cname=" + cn + "&cimage="          )
        function lwps() {
                const xttp = new XMLHttpRequest();
                xhttp.onload=function(){
                        document.getElementById("cps").innerHTML= this.responseText;
                        
                }
                xttp.open("GET", "http://3.110.207.102:3000/ps"              )
                xhttp.send();
        }
        </script>
    <div>  <h1>Launch container</h1></div>
    
    
    
     container name<input name="cname" id="incname " / >   
     <br/ >
     container<select  name="cimage" id ="incname">
        <option>centos</option>
             <option>ubuntu</option>
             </select>
             <br />

             <div id="crun">CONTAINER LIST </div>
             <button onclick ="lw()">CLICK TO LAUNCH</button>
             <button onclick="lwps()">REFRESH</button>
             <div id="cps">CONTAINER LIST</div>
    
     
  