<head> </head >
<div>  <h1>Launch container</h1></div>


<form  action="/runform" method="GET">
 container name<input type="text" name="cname" / > <br/>
 container<select  name="cimage"><option>centos</option>
	 <option>ubuntu</option></select>

 <input type="submit" />
</form>

